body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Nanum Myeongjo', serif;
}

header.dude {
  background-position: center;
  background-image: url("header.jpg");
  background-size: cover;
  height: 100%;
}

header.dude hr {
  margin-top: 200px;
  margin-bottom: 30px;
}
header.dude h1{
  font-size: 5rem;
}

.btn {
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Nanum Myeongjo', serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #000000;
  border-color: #000000; }

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
